@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
  flex-direction: row;
  background: linear-gradient(#e1c69d, white);
}

.Header {
  height: 120.4px;
  width: 100%;
  box-sizing: border-box;
  background-image: url('https://i.pinimg.com/originals/2a/fb/21/2afb2168fede5a42d6eb567acaae117c.jpg');
  background-position: center;
  background-size: cover;
  background-position-y: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 68.8px;
  font-family: 'Yeon Sung', cursive;
  color: white;
  -webkit-text-stroke: 1px black;
  position: relative;
  box-shadow: 5px 0px 8px 1.5px #524141;
}

.Artist {
  font-size: 10px;
  font-family: sans-serif;
  -webkit-text-stroke: 0px white;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

aside {
  width: 40%;
  height: 739.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Hoid-sidebar {
  width: 40%;
  box-sizing: border-box;
  text-align: center;
  margin-right: 5%;
  margin-top: 5%;
  position: relative;
}

.Hoid-sidebar img {
  border: solid #B88846 3px;
}

.Hoid-margin {
  margin-top: 5%;
}

.Hoid-info {
  margin-top: 12%;
}

.Artist-2 {
  position: absolute;
  font-size: 10px;
  right: 89px;
}

main {
  width: 60%;
  height: 739.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Box {
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  margin-top: 2%;
}

form {
  text-align: center;
  width: 60%;
  margin-top: 3.3%;
}

.Hoid-input {
  text-align: center;
  background-color: #fdf8f1;
}

.Box input {
  margin-right: 3%;
  margin-bottom: 3%;
  text-align: center;
  background-color: #f0dfc4;
}

.Seating-area {
  text-align: center;
  width: 60%;
  margin-top: 4%;
}

.Patron-flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  margin-bottom: 4%;
}

.Text-style {
  text-align: left;
}

h2 {
  font-family: 'Yeon Sung', cursive;
  font-size: 40px;
}

.Click {
  cursor: pointer;
}